body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
} 

#container {
    height: 300px;
    width: 200px;
    margin: 0;
    box-shadow: none;
    border: solid;
    
}
